@model List<Lawoffice.Models.LawOfficeModels.Session>

<table class="table table-bordered" style=" font-size: 13px;">
    <thead>
        <tr>
            <th>التاريخ</th>
            <th>الوصف</th>
            <th>القرار</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SessionDate?.ToString("yyyy-MM-dd")</td>
                <td>@item.Description</td>
                <td>@item.Descision</td>
                <td>
                    <button class="btn btn-sm btn-danger delete-item" data-url="@Url.Action("DeleteSession", "Cases", new { id = item.Id })">حذف</button>
                </td>
            </tr>
        }
    </tbody>
</table>
